In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/raw/carpredict_data.csv")
df.head()

,price,transmission,condition,mileage,Name
0,2380000,Automatic,Foreign Used,85644.0,Subaru Legacy 2015 Silver
1,1050000,Automatic,Foreign Used,98560.0,Toyota Sienta 2014 1.5 FWD Gray
2,7000000,Automatic,Foreign Used,56918.0,Toyota Land Cruiser Prado 2015 2.8 D-4d White
3,1950000,Automatic,Foreign Used,66000.0,Toyota Premio 2015 1.8 FWD Black
4,920000,Automatic,Foreign Used,42308.0,Toyota Vitz 2015 1.3 AWD 5dr Silver

In [8]:
print("=== DATASET OVERVIEW ===")
print(f"Dataset shape: {df.shape}")
print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1024:.1f} KB")
print()

=== DATASET OVERVIEW ===
Dataset shape: (15364, 5)
Memory usage: 3624.8 KB

In [9]:
print("=== BASIC INFO ===")
print(df.info())
print()

=== BASIC INFO ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15364 entries, 0 to 15363
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         15364 non-null  int64
 1   transmission  15364 non-null  object
 2   condition     15364 non-null  object
 3   mileage       12802 non-null  float64
 4   Name          15364 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 600.3+ KB
None

In [10]:
print("=== FIRST FEW ROWS ===")
print(df.head())
print()

=== FIRST FEW ROWS ===
     price transmission     condition  mileage  \
0  2380000    Automatic  Foreign Used  85644.0
1  1050000    Automatic  Foreign Used  98560.0
2  7000000    Automatic  Foreign Used  56918.0
3  1950000    Automatic  Foreign Used  66000.0
4   920000    Automatic  Foreign Used  42308.0

                                            Name
0                      Subaru Legacy 2015 Silver
1                Toyota Sienta 2014 1.5 FWD Gray
2  Toyota Land Cruiser Prado 2015 2.8 D-4d White
3               Toyota Premio 2015 1.8 FWD Black
4            Toyota Vitz 2015 1.3 AWD 5dr Silver

In [11]:
print("=== STATISTICAL SUMMARY ===")
print(df.describe())
print()

=== STATISTICAL SUMMARY ===
              price       mileage
count  1.536400e+04  1.280200e+04
mean   2.570792e+06  1.130041e+05
std    2.632010e+06  1.340466e+05
min    1.200000e+05  0.000000e+00
25%    9.000000e+05  6.334400e+04
50%    1.790000e+06  8.700000e+04
75%    2.900000e+06  1.236900e+05
max    3.704900e+07  2.000000e+06

In [13]:
print("=== MISSING VALUES ===")
missing_data = df.isnull().sum()
print(missing_data)
print(f"Total missing values: {missing_data.sum()}")
print()

=== MISSING VALUES ===
price              0
transmission       0
condition          0
mileage         2562
Name               0
dtype: int64
Total missing values: 2562

In [15]:
print(df["mileage"].mean())

113004.06092798